body {
  margin-left: 232px;
  margin-top: 90px;
  background-color: rgb(245, 245, 245);
  font-family: Inter;
}

.mainBoardContainer {
  margin-left: 70px;
  padding-top: 82px;
}
.topBoardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topBoardContainer p {
  font-size: 61px;
  font-weight: 700;
  margin: 0px;
}
.searchBoardContainer {
  display: flex;
}
.searchBarContainer {
  display: flex;
  background-color: white;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  height: 30px;
  align-items: center;
  padding: 13px 10px 13px 20px;
}

.searchBarContainer input {
  border: none;
  font-size: 16px;
}

.searchBarLine {
  border-left: 1px solid #d1d1d1;
  height: 30px;
}
.searchBarImage {
  margin-left: 15px;
  cursor: pointer;
}
.addButtonContainer {
  display: flex;
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 21px;
  cursor: pointer;
  margin-left: 35px;
  margin-right: 65px;
  transition: background 200ms ease-in-out;
}
.uperStatusBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.addButtonContainer:hover {
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  background-color: rgb(41, 171, 226);
  outline: 1px solid rgb(41, 171, 226);
}

.addButtonContainer img {
  margin-left: 10px;
}
.bottomBoardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
  margin-right: 65px;
}
.statusContainer {
  display: flex;
  width: 250px;
  white-space: nowrap;
  flex-direction: column;
}

.statusContainer h3 {
  margin-left: 15px;
  font-size: 21px;
  font-weight: 700;
}

.statusContainer img {
  cursor: pointer;
}

.upperStatusBox {
  color: #2a3647;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mainHelpContainer {
  margin-top: 161px;
  margin-left: 124px;
  margin-right: 124px;
  margin-bottom: 124px;
  text-align: justify;
}
.backArrow {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
.mainHelpContainer h1 {
  font-weight: 700;
  font-size: 61px;
  margin-top: 0px;
}

.mainHelpContainer h2 {
  font-weight: 700;
  font-size: 27px;
}

.explainContainer {
  display: flex;
  gap: 35px;
  margin-bottom: 15px;
}
.numberHelp {
  display: flex;
  margin: 0px;
  font-weight: 700;
  font-size: 27px;
}
.createTaskBox:hover {
  content: url("/img/blueplusicon.svg");
}

.searchBarContainer:focus-within {
  outline: 2px solid black;
}
.searchBarContainer input:focus {
  outline: none;
}

.box {
  max-width: 100%;
  min-height: 400px;
}

.card {
  display: flex;
  padding: 18px 19px 18px 19px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  flex-direction: column;
  box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 0.04);
  margin-bottom: 35px;
  height: auto;
  cursor: grab;
}

.cardCategory {
  background-color: rgb(226, 0, 190);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 4px 25px 4px 25px;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

.cardTitle {
  color: #2a3647;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  font-size: 16px;
  color: #a8a8a8;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.progressContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.progressBar {
  width: 138px;
  height: 8px;
  border-radius: 2px;
  background-color: #f4f4f4;
}

.lowerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popupCard {
  display: flex;
  position: absolute;
  top: 150px;
  left: 35%;
  width: 523px;
  height: 624px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 0.04);
  padding: 50px;
  flex-direction: column;
  gap: 25px;
  z-index: 5;
}

.popupcardCategory {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 27px;
  padding: 4px 35px;
  border-radius: 8px;
  width: fit-content;
  color: white;
}

.popupCardTitle {
  color: #2a3647;
  font-weight: bold;
  font-size: 61px;
}
.popupcardDescription {
  color: #000000;
  font-size: 21px;
}

.popupCardDate {
  display: flex;
  font-size: 21px;
  gap: 25px;
}

.popupPrioContainer {
  display: flex;
  font-size: 21px;
  align-items: center;
  gap: 25px;
}

.popupPrioBox {
  color: white;
  padding: 4px 18px;
  border-radius: 10px;
}

.popupCardAssigned {
  font-size: 21px;
}

.popupCardImgContainer {
  display: flex;
  justify-content: end;
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: -50px;
  cursor: pointer;
}
.popupCardImgBox {
  display: flex;
  align-items: center;
  width: 100px;
  height: 50px;
  gap: 10px;
}

.popupDeletButton:hover {
  content: url("/img/deletbuttonhover.png");
}

.popupEditButton:hover {
  content: url("/img/editbuttonhover.png");
}

.cancelIconPopupCard {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}

.mainAddTaskContainer {
  transform: translateX(150%);
  transition: all 1.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 61px 74px;
  background: #ffffff;
  border-radius: 30px;
  position: absolute;
  top: 60px;
  z-index: -15;
  box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 0.04);
}

.mainAddTaskContainer.open {
  transform: translate(15% , -3%);
  z-index: 5;
}

.bodyAddTaskCotnainer {
  display: flex;
}

.headAddTaskContainer {
  display: flex;
  font-weight: bold;
}

.rightAddTaskContainer {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  gap: 37px;
  margin-left: 59px;
}

.headAddTaskContainer p {
  font-size: 61px;
  margin-top: 0px;
  margin-bottom: 41px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5); /* Hier können Sie die Opazität anpassen */
}