body {
  margin-left: 232px;
  margin-top: 90px;
  background-color: rgb(245, 245, 245);
  font-family: Inter;
}

.mainBoardContainer {
  margin-left: 70px;
  padding-top: 82px;
}
.topBoardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topBoardContainer p {
  font-size: 61px;
  font-weight: 700;
  margin: 0px;
}
.searchBoardContainer {
  display: flex;
}
.searchBarContainer {
  display: flex;
  background-color: white;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  height: 30px;
  align-items: center;
  padding: 13px 10px 13px 20px;
}

.searchBarContainer input {
  border: none;
  font-size: 16px;
}

.searchBarLine {
  border-left: 1px solid #d1d1d1;
  height: 30px;
}
.searchBarImage {
  margin-left: 15px;
  cursor: pointer;
}
.addButtonContainer {
  display: flex;
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 21px;
  cursor: pointer;
  margin-left: 35px;
  margin-right: 65px;
  transition: background 200ms ease-in-out;
}
.uperStatusBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.addButtonContainer:hover {
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  background-color: rgb(41, 171, 226);
  outline: 1px solid rgb(41, 171, 226);
}

.addButtonContainer img {
  margin-left: 10px;
}
.bottomBoardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
  margin-right: 65px;
}
.statusContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  white-space: nowrap;
  flex-direction: column;
}

.statusContainer h3 {
  margin-left: 15px;
  font-size: 21px;
  font-weight: 700;
}

.statusContainer img {
  cursor: pointer;
}

.upperStatusBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mainHelpContainer {
  margin-top: 161px;
  margin-left: 124px;
  margin-right: 124px;
  margin-bottom: 124px;
  text-align: justify;
}
.backArrow {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
.mainHelpContainer h1 {
  font-weight: 700;
  font-size: 61px;
  margin-top: 0px;
}

.mainHelpContainer h2 {
  font-weight: 700;
  font-size: 27px;
}

.explainContainer {
  display: flex;
  gap: 35px;
  margin-bottom: 15px;
}
.numberHelp {
  display: flex;
  margin: 0px;
  font-weight: 700;
  font-size: 27px;
}
.createTaskBox:hover {
  content: url("/img/blueplusicon.svg");
}

.searchBarContainer:focus-within {
  outline: 2px solid black;
}
.searchBarContainer input:focus {
  outline: none;
}

/*/Testing Drag and Drop/*/

.box {
  max-width: 250px;
}

.card {
  display: flex;
  padding: 18px 19px 18px 19px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  flex-direction: column;
  box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 0.04);
  margin-bottom: 35px;
}

.cardCategory {
  background-color: rgb(226, 0, 190);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 4px 25px 4px 25px;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

.cardTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  font-size: 16px;
  color: #a8a8a8;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
