body {
  margin: 0;
  margin-left: 232px;
  margin-top: 90px;
  background-color: rgb(245, 245, 245);
  font-family: Inter;
}

.mainBoardContainer {
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 82px;
}
.topBoardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBoardContainer {
  display: flex;
}
.searchBarContainer {
  display: flex;
  background-color: white;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  height: 30px;
  align-items: center;
  padding: 13px 10px 13px 20px;
}

.searchBarContainer input {
  border: none;
  font-size: 16px;
}

.searchBarLine {
  border-left: 1px solid #d1d1d1;
  height: 30px;
}
.searchBarImage {
  margin-left: 15px;
  cursor: pointer;
}
.addButtonContainer {
  display: flex;
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
}
.crossBox {
  font-size: 30px;
}
.bottomBoardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.statusContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  white-space: nowrap;
}
.statusContainer h3 {
  margin-left: 15px;
}
.addBox {
  border: solid 2px #2a3647;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
}
.addBox p {
  font-size: 30px;
  font-weight: bold;
  color: #2a3647;
}
.mainHelpContainer{
  margin-top: 171px;
  margin-left: 124px;
  margin-right: 124px;
  text-align: justify;
}
.explainContainer{
  display: flex;
  gap: 35px;
  margin-bottom: 15px;
}
.numberHelp{
  display: flex;
  margin: 0px;
  font-weight: 700;
  font-size: 27px;
}
