body {
  margin: 0;
  background-color: rgb(245, 245, 245);
  font-family: Inter;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 141px;
  margin-left: 315px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 681px;
  height: 80px;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
  width: 315px;
}

.verticalline-summary {
  width: 0px;
  height: 59px;
  border: 3px solid #29ABE2;
}

h4 {
  width: 306px;
  height: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  color: #2A3647;
}

.content-summary {
  display: flex;
  align-items: center;
  padding-top: 87px;
  max-width: 1500px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  width: 55%;
  height: 510px;
}

.tasks-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 35px;
  width: 580px;
  height: 170px;
}

p {
  text-align: center;
}

.task-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transition: all 100ms ease-in-out;
}

.task-boxes:hover {
  background-color: #2A3647;
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.task-box {
  text-align: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 90%;
  margin-top: 15px;
}

.tasks-urgent-deadline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 61px;
  width: 580px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.tasks-urgent-deadline:hover {
  background-color: #2A3647;
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.tasks-urgent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 18px;
  width: 130px;
  height: 75px;
}

.urgent-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 52px;
  height: 75px;
}

.urgnet-number {
  width: 50px;
  height: 56px;
  font-weight: 600;
  font-size: 47px;
  line-height: 120%;
  text-align: center;
}

.urgent-name {
  width: 52px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-grey);
}

.verticalline-urgent {
  width: 0px;
  height: 102.02px;
  border: 2px solid var(--grey);
}

.deadline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;
  height: 57px;
}

.deadline-date {
  height: 25px;
  font-weight: 700;
  color: var(--dark-grey);
}

.date {
  font-size: 28px;
}

.deadline-upcoming {
  width: 148px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-grey);
}

.todo-done {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 35px;
  width: 580px;
  height: 150px;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 272.5px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transition: all 100ms ease-in-out;
}

.d-none {
  display: none;
}

.todo:hover {
  background-color: #2A3647;
  color: white !important;
  transform: scale(1.05);
  cursor: pointer;
}

.todo:hover .pensil {
  display: none;
}
.todo:hover .d-none {
  height: 65px;
  display: block;
}
.todo:hover div {
  color: #FFFFFF;
}

.done {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 272.5px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.done:hover {
  background-color: #2A3647;
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.done:hover div {
  color: white;
}

.done:hover .done-btn {
  display: none;
}

.done:hover .d-none {
  height: 65px;
  display: block;
}

.todo-done-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.todo-done-number {
  height: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

p {
  height: 25px;
  color: var(--dark-grey);
}

.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 67px;
  gap: 3px;
  width: 385px;
  height: 136px;
}

.greeting-message {
  font-weight: 500;
  font-size: 47px;
  line-height: 120%;
  color: var(--dark-grey);
}

.gretting-user {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: var(--light-blue);
}

@media (max-width: 1300px) {
  .greet {
    display: none;
  }
}

@media (max-width: 1000px) {
  .headline {
    align-items: center;
    width: 500px;
  }
  .headline h1{
    font-size: 40px;
    width: 190px;
  }
  .headline h4{
    font-size: 20px;
    height: 22px;
  }
}

@media (max-width: 935px) {
  .main {
    margin-left: 250px;
  }
}

@media (max-width: 855px) {
  .tasks-urgent-deadline {
    width: 450px;
  }

  .tasks-container {
    width: 450px;
  }

  .task-boxes {
    width: 125px;
  }

  .todo-done {
    width: 450px;
  }

  .todo {
    width: 205px;
  }
 
  .done {
    width: 205px;
  }
}

@media (max-width: 768px) {
  .main {
    margin-left: 150px;
  }
  
  .tasks-container{
    width: 450px;
  }

  .todo-done {
    width: 450px;
  }
}

@media (max-width: 650px) {
  .main {
    margin-left: 50px;
  }
  .headline {
    width: 400px;
  }
}
